$email-color: brown;
$instagram-color: palevioletred;
$steam-color: #405de6;

.icons {
    // background-color: aquamarine;
    width: 200px;
    
    a {
        text-decoration: none;
        color: inherit;
    }
}
.icon{
    transition: 100ms all;
    &:hover{
        transform: scale(120%);
        color: #333333;
        cursor: pointer;
    }
}
